
    <% for(var i=0;i<post.length;i++){  %>
        <li class="post" id="post-<%= post[i]._id %>">
            <div id="post">
                <div id="users_name">
                    <h5> <%= post[i].user.name %> </h5>
                </div>
                <div id="content">
                    <h3> <%= post[i].content %> </h3>
                    <div id="post-image">
                        <img src="<%= post[i].image %>" alt="" height="400px">
                    </div>
                </div>
                <br>
                <div id="like-comment">
                    <div id="like-button">
                        <form action="/likes/togglelike-posts/?id=<%= post[i]._id %>" method="post">
                            <button>
                                <%var j=0%>
                                <%for(;j<post[i].like.length;j++){ %>
                                    <% if( locals.user._id == post[i].like[j].user.id) { %>
                                        <i class="fa-solid fa-heart"></i>
                                        <%break%>
                                    <% } %>
                                <%}%>
                                <%if(j>=post[i].like.length){%>
                                    <i class="fa-regular fa-heart"></i> 
                                <%}%>
                            </button>
                            <span>
                                <%=post[i].like.length%>
                            </span>
                        </form>
                    </div>
                    <div id="comment">
                        <% if(locals.user){ %>
                            <form action="/comments/create-comment/?id=<%= post[i]._id %>" method="POST">
                                <textarea name="content" id="comment-textarea" cols="20" rows="1"></textarea>
                                <button type="submit">
                                    <i class="fa-regular fa-comment"></i>
                                </button>
                            </form>
                        <% } %>
                    </div>
                    <div>
                        <div id="post-delete-button">
                            <% if(locals.user && post[i].user.id == locals.user.id){ %>
                                <a id="delete-post-button" href="/posts/delete-post/?id=<%= post[i]._id %>">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div id="current-posts-comments">
                    <%- include('_comment',{
                        i:i
                    }); %>
                </div>
            </div>
        </li>
    <% } %>
    